.choose-container{
    color:white;
    margin-top:50px;
    padding:8px;
    height:100vh;
    justify-content: center;
    align-items: center;

}
.title-choice{
    text-align: center;
    font-size:40px;
}


.choose-content{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 50px;
}

.card{
    text-align: center;
    background-color: rgb(24, 16, 56);
    padding:10px;
    border-radius: 6px;
    width:400px;
    height:250px;
}

