.footer-containers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(10, 10, 56);
    color: #fff;
    padding: 20px 0;
    margin-top: 60px;
}

.logo-footer{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    
}


.logo-footer img{
    width: 350px;
    height: 200px;
}

.navBar{
     display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.navBar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navBar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s ease-in;
    font-weight: bold;
    font-size: 18px;
}

.navBar ul li a:hover{
    color: #BA4F15;
    border-bottom: 2px solid #BA4F15;
}