.hero-container{

    background-image:   linear-gradient(rgba(0,0,0,0.9),
     rgba(0,0,0,0.9)), 
     url(bg-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-contents{
    display: block;
    text-align: center;
}

/* titre nan hero a */
.hero-title{

    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* sous titre nan hero a */
.sub-title{
    font-size: 25px;
    margin-top: -50px;
}


/* bouton nan hero a */
.btn-hero{
    background-color: #BA4F15;
    border: none;
    padding: 15px ;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-hero:hover {
  transform: translateY(-5px);
  background-color: rgb(31, 31, 63);
}


/* animation sur hero a */
/* 
.hero-contents{
    animation: appair 5s ease;
}

@keyframes appair {
    0%{
        transform: TranslateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(-20px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(-30px);
        opacity: 1;
}}
     */
