
/* card la */
.media-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 36, 92);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}

.media-item:hover {
    transform:scale(1.1);
   
    box-shadow: 0 4px 8px rgba(233, 160, 25, 0.2);
  
}


.media-card {
    flex: 0 0 auto;
    width: 220px;
}

/* image card la */
.image-card{

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}


/* etoile rating la */
.rating-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 33, 134);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    transition: 0.3s ease;

    
}

.rating-card:hover {
    background-color: rgb(31, 31, 63);
  
}



